[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
tox = "*"
coverage = "*"
django-debug-toolbar = "*"

[packages]
django = "~=2.2.13"
pinax-cli = "*"
uwsgi = "*"
psycopg2-binary = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7.4"
