{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}django boilerplate{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<div style="font-size: 6rem; font-weight: 600;">Fuse Smart Farming</div>{% endblocktrans %}</h1>
            <p class="lead">
                {% blocktrans %}
                Fuse ensures that its products are not only compatible with mixed fleets but also across the entire farm operation. We believe in this open approach as we want to enable our customers’ future of farming with the best digital products available on the market – no matter if they are developed by Fuse, in cooperation with partners or third party offers.
This means Fuse gives farmers freedom and flexibility in their choices of machinery, farm management and agronomy software as well as service providers – to establish their individually perfect digital ecosystem.
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p class="mb-5 lead">{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-secondary">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section id="content-section">
        <div id="content-body">
            <h2 class="text-center">{% blocktrans %}What is Fuse?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Fuse</b> is the leading global open platform for digital farming products operated by AGCO Corp.  Fuse supports AGCO‘s brands and the aftermarket with a comprehensive and customizable suite of non-proprietary digital solutions, empowering farmers to make their individually best business decisions and thus maximize yields and profitability.
                {% endblocktrans %}
            </p>

            <div class="feature-columns row">
                <div class="col">
                    <div class="icon"><i class="fa fa-tint fa-3x"></i></div>
                    <div class="desc">
                        {% blocktrans %}
                        <b>Planting</b> When it comes to field preparation and planting, timing is everything. Having fields ready for planting and getting the seed in the ground at the right depth and spacing is critical. There is no time for downtime.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col">
                    <div class="icon"><i class="fa fa-sun fa-3x"></i></div>
                    <div class="desc">
                        {% blocktrans %}
                        <b>Growing</b> Leveraging Fuse technologies and services, the growing phase of the crop cycle includes many opportunities to reduce wasted inputs – resulting in increased profitability and benefiting the environment.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col">
                    <div class="icon"><i class="fa fa-leaf fa-3x"></i></div>
                    <div class="desc">
                        {% blocktrans %}
                        <b>Harvesting</b> is the time to reap the rewards of a well-planned season and gather the data necessary to begin planning for the next year. Fuse products and services help maximize productivity, increase uptime and facilitate data management.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="see-more lead text-center">
                {% blocktrans %}
                See <a target="_new" href="https://www.fusesmartfarming.com/">Fuse Smart Farming</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
</main>
{% endblock %}
